// Color
:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #252525;
  --yellow: #FFCC00;
}
// Fonts
$font-family: 'Roboto-Regular', sans-serif;

// Sizes
$text-size: 1.4rem;

// Line-Height
$line-height: 1.1;

// Font-weight
$font-weight: 400;

// Container
$max-width: 1200px;
$min-width: 320px;

// Media
$breakpoints: (
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px,
        'xxl': 1400px,
) !default;