header.header
    .container
        .header__inner
            .header__top
                .header__left
                    include ../logo/logo
                .header__right
                    include ../burger/burger
                    nav.header__nav
                        ul.menu.header__menu
                            li.menu__item
                                a(href='#').menu__link Каталог инструментов
                            li.menu__item
                                a(href='#').menu__link Все для сада
                            li.menu__item
                                a(href='#').menu__link Ручной инструмент
                            li.menu__item
                                a(href='#').menu__link Электрика
                            li.menu__item
                                a(href='#').menu__link Доставка
                            li.menu__item
                                a(href='#').menu__link Оплата
                            li.menu__item
                                a(href='#').menu__link О нас
                        ul.authorization.header__authorization
                            li.authorization__item
                                a(href='#').authorization__link Вход
                            li.authorization__item
                                a(href='#').authorization__link Регистрация
                    .panel.header__panel
                        img(src="./img/banner.webp").panel__banner
                        .panel__info
                            .panel__basket
                                .panel__img
                                    svg(width="19" height="18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M8.51885 14.804c.87845 0 1.59085.7163 1.59085 1.5993 0 .8833-.71249 1.5993-1.59085 1.5993-.87851 0-1.59091-.716-1.59091-1.5993 0-.883.7124-1.5993 1.59091-1.5993Zm-.33704 1.5993c0-.3015.36388-.4522.57539-.2395.13159.1321.13159.347 0 .4793-.21142.2124-.57539.0617-.57539-.2398ZM15.9429 14.804c.8785 0 1.5908.7163 1.5908 1.5993 0 .8833-.7123 1.5993-1.5908 1.5993s-1.5909-.716-1.5909-1.5993c0-.883.7124-1.5993 1.5909-1.5993Zm-.3372 1.5993c0-.3015.3641-.4522.5756-.2395.1316.1321.1316.347 0 .4793-.2115.2124-.5756.0617-.5756-.2398ZM14.1471 11.3012c2.0438-.2688 3.7295-1.65311 4.3999-3.56875.8466-2.00223.3585-2.94919-.2233-3.21684l-6.2851-.81645-8.23093-1.20745-.76866-.5594c.10804-.43607.01701-.88865-.21705-1.239292-.4745-.710463-1.43229-.901201-2.139595-.42385C-.024437.746179-.214169 1.70922.260747 2.42027c.441228.66085 1.306833.88108 2.006763.50422l.78458.57104 3.235 8.00607c-.10786.1244-.19987.2657-.27388.423-.56156 1.1954.31946 2.5511 1.62647 2.5511h9.82342c.3463 0 .6269-.2822.6269-.6303 0-.348-.2806-.6303-.6269-.6303H7.63968c-.20037 0-.36094-.086-.46637-.2548-.19301-.3094-.02003-.7037.31703-.7836l6.65676-.8755Zm-1.7917-6.27242-3.41919-.51317.61963 2.14984 3.15296.08812-.1421-.82099s-.1219-.57388-.2113-.9038ZM1.78388 1.39228c-.13886-.20801-.47651-.15628-.52796.10699-.05213.26724.24161.44104.44902.30119.13182-.08897.16694-.27625.07894-.40818Zm6.99114 9.35192c.21132-.0295.42197-.0589.63073-.0864l-.79596-2.76242-2.45604-.06865 1.24968 3.09257c.45237-.0468.91351-.1111 1.37142-.175h.00002l.00015-.0001Zm1.1458-2.81226.73828 2.56126 2.6367-.3469-.3687-2.13036-3.00628-.084ZM5.64019 6.55585l2.60437.07278-.66639-2.31227-3.02197-.44348 1.08399 2.68297Zm8.11071-1.38678.2039 1.5845s2.1684.14212 2.8876.14212c.3542-.44605.7535-1.36834-.0966-1.44604-.2505-.0229-.5574-.04789-.8822-.07438-.7779-.06338-1.6584-.13515-2.1127-.2062Zm.7811 4.77766-.3849-1.93079 2.7919.05517c-.551.8291-1.4218 1.61076-2.407 1.87562Z")
                                a(href="#") 3 шт. / 17250 р.
                            .panel__favorites
                                .panel__img
                                    svg(width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        g(clip-path="url(#a)")
                                            path(d="m3.2515 8.96117-.73908 4.53073c-.05892.3599.3255.63.64341.4533L7 11.8207l3.8442 2.1251c.315.175.7029-.0899.6434-.4533l-.7391-4.53074 3.1267-3.20484c.2479-.25375.1056-.68425-.2468-.73792l-4.30382-.65741L7.3955.252586c-.14408-.306833-.6475-.306833-.79158 0L4.67542 4.361l-4.303837.65742c-.3535.05425-.494667.48417-.24675.73792L3.2515 8.96117Z")
                                                defs
                                                    clipPath(id="a")
                                                        path(fill="#fff" d="M0 0h14v14H0z")
                                a(href="#") Изранное (7)
                            .panel__compare
                                .panel__img
                                    svg(width="18" height="16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        g(clip-path="url(#a)")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M17.4726 5.49518h-.2078L15.138.324656c-.08-.194712-.2739-.322382-.4895-.322382-.0686 0-.1348.012954-.1959.036725L10.8067 1.45686c-.3049-.41372-.756-.718877-1.27939-.843342-.45-.083549-.89061-.034814-1.05465 0C7.50133.84442 6.77813 1.69751 6.77813 2.71234c0 .10296.00798.20419.02239.30342L3.15568 4.43323l-.00014.00014c-.13128.05128-.23895.15275-.29361.2855L.735121 9.88941H.527344C.236068 9.88941 0 10.1191 0 10.4022c0 1.4944 1.2501 2.7101 2.78668 2.7101h1.1298c1.53657 0 2.78669-1.2157 2.78669-2.7101 0-.2831-.23607-.51279-.52734-.51279h-.20792l-1.93085-4.6943 3.15623-1.22745c.30501.41374.756.71891 1.27937.84321v8.12933h-.60233c-1.53658 0-2.77169 1.0525-2.77169 2.547 0 .2832.23618.5128.52735.5128h6.77831c.2911 0 .5273-.1971.5273-.351v-.1624c0-1.4939-1.2654-2.5464-2.802-2.5464h-.60229V4.81087c.97129-.23076 1.69449-1.08386 1.69449-2.09853 0-.1031-.0079-.20433-.0222-.30355l2.5022-.97316-1.6697 4.05955h-.208c-.2911 0-.5273.22957-.5273.51282 0 1.49426 1.2501 2.70995 2.7868 2.70995h1.1297C16.7498 8.71795 18 7.50226 18 6.008c0-.28325-.2361-.51282-.5274-.51282ZM2.78668 12.0865h1.1298c.77097 0 1.42604-.4924 1.64974-1.1709-.00077-.0001-.00148-.0002-.00222-.0003-.0007-.0001-.00144-.0002-.00218-.0003H1.13681c.22357.6788.87863 1.1715 1.64987 1.1715Zm-.91557-2.19709h2.96094L3.35151 6.29019l-1.4804 3.59922Zm4.3642 5.08499h5.55959c-.2234-.6787-.8939-1.0086-1.6651-1.0086H7.87033c-.7714 0-1.41146.3299-1.63502 1.0086Zm1.5975-12.2622c0 .62594.52366 1.13502 1.16716 1.13502.64367 0 1.16723-.50908 1.16723-1.13502 0-.6258-.5237-1.13501-1.16723-1.13501-.6435 0-1.16716.50921-1.16716 1.13501Zm8.29599 2.78298-1.4803-3.59921-1.4806 3.59921h2.9609Zm-2.0452 2.19713h1.1297c.7711 0 1.426-.49255 1.6497-1.17108l-.0044-.00041h-4.425c.2236.6787.8788 1.17149 1.65 1.17149Z")
                                                defs
                                                    clipPath(id="a")
                                                        path(fill="#fff" d="M0 0h18v16H0z")
                                a(href="#") К сравнению (5)
                        .panel__top-products
                            img(src="./img/perforator1.png")
                            img(src="./img/perforator2.png")
                            img(src="./img/perforator3.png")
                        .panel__about
                            .panel__work-time
                                span.panel__text Время работы:
                                span.panel__time 10:00 - 19:00
                            a(href="tel:8 495 721-25-25").panel__phone 8 495 721-25-25
                            .panel__location
                                .panel__city Москва
                                .panel__change-city
                                    svg(width="7" height="7" viewBox="0 0 7 7" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M0.5 7V0L7 3.5L0.5 7Z")
                                    .select-city сменить
            .header__bottom
                .catalog.header__catalog
                    .catalog__search
                        button
                            svg(width="20px" height="20px" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="m19.054 16.5604-4.5348-4.5348c.707-1.1603 1.0799-2.49328 1.0776-3.852 0-4.1004-3.5532-7.652398-7.65358-7.652398a7.421973 7.421973 0 0 0-2.84092.564738 7.4219 7.4219 0 0 0-2.40843 1.60912 7.421723 7.421723 0 0 0-1.60911 2.40842A7.421937 7.421937 0 0 0 .52002 7.9444c0 4.0992 3.5532 7.6524 7.6524 7.6524 1.31394.0012 2.60438-.3485 3.73798-1.0128l4.5588 4.5612c.2144.2138.5048.3339.8076.3339.3028 0 .5932-.1201.8076-.3339l1.1316-1.1316c.4452-.4452.2832-1.008-.162-1.4532ZM2.80482 7.9444a5.13835 5.13835 0 0 1 .39079-1.96675 5.138495 5.138495 0 0 1 2.78095-2.7816 5.138472 5.138472 0 0 1 1.96666-.39125c2.83918 0 5.36878 2.5284 5.36878 5.3688-.0003 1.36301-.5419 2.6701-1.5057 3.6339s-2.27087 1.5054-3.63388 1.5057c-2.8392-.0012-5.3676-2.5308-5.3676-5.3688Z")
                        input(type='text')
                    ul.catalog__list
                        li.catalog__item
                            a(href='#').catalog__link.active Перфораторы
                        li.catalog__item
                            a(href='#').catalog__link Дрели
                        li.catalog__item
                            a(href='#').catalog__link Шлифмашины
                        li.catalog__item
                            a(href='#').catalog__link Пистолеты
                        li.catalog__item
                            a(href='#').catalog__link Электропилы
                        li.catalog__item
                            a(href='#').catalog__link Набор инструментов
                        li.catalog__item
                            a(href='#').catalog__link Акксесуары
                    a(href="#").catalog__sale Распродажа

